div.PlayerRegisterContainer
{
    display: flex;
    flex-direction: column;
    min-width: 850px;
    min-height: 450px;
    background-color: #ffff;
    color: #ffff;
    margin: 10px;
    border-radius: 10px;
    border: 3px solid #f1f1f1;
    font-family: "Roboto Condensed";
    font-weight: 700;
    font-size:20px;
    overflow: hidden;
}
div.Title
{
    display: flex;
    background-color: #5BCFAA;
    justify-content: center;
    height: 35px;
    align-items: center;
}
div.Content
{
    padding:10px;
    display: flex;
    flex-direction: column;
    flex: 1;
}
div.PlayerInfo
{
    display: flex;
    flex-wrap: wrap;
    margin: 10px 10px 15px 10px;
}
div.PlayerTeamInfo
{
    display: flex;
    flex-wrap: wrap; 
    margin: 10px 10px 15px 10px;
}
div.InputBox
{
    display: flex;
    height: 35px;
    background-color: #5BCFAA;  
    border-radius: 10px;
    padding:0 5px;
    overflow: hidden;
    margin:5px;
    align-items: center;
}
label.Title
{
    font-weight: 500;
    color: #ffff;
    font-size:16px;
}
input.TextInput
{
    border-color: transparent;
    background-color: #f1f1f1;
    color:#081D16;
    margin: 0 5px;
    padding:1px 5px;
    font-size:14px;
    font-family: "Roboto Condensed", sans-serif;
}
input.TextInput:focus
{
    outline: none;
}
input.TextInput:focus::placeholder
{
    color: transparent;
}

div.Footer
{
    display:flex;
    background-color: #5BCFAA;
    margin-bottom: auto;
    padding:10px;
}