div.ComponentBox
{
    display: flex;
    height: 35px;
    background-color: #5BCFAA;  
    border-radius: 10px;
    padding:0 5px;
    margin:5px;
    align-items: center;
}
label.ComponentTitle
{
    font-weight: 500;
    color: #ffff;
    font-size:16px;
}

div.ComponentContainer
{
    display: flex;
    position: relative;
    margin-left:5px;
    background-color: #f1f1f1; 
    padding:1px 5px;
    align-items: center;
    color:#081D16;
    height: 23px;
    width: 150px;
    font-size:14px;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 500;
}

div.OptionsContainer
{
    position: absolute;
    flex-direction: column;
    background-color: #f1f1f1;
    left: 0;
    top: 25px;
    width: 150px; 
    border:3px solid #5BCFAA;
}

div.OptionContainer
{
    display: flex;
    align-items: center;
    justify-content: center;
    color:#081D16;
    height: 25px;
    font-size:14px;
    font-family: "Roboto Condensed", sans-serif;
}

div.OptionContainer:hover
{
    background-color: #5BCFAA;
    cursor:pointer;
}