div.ComponentContainer
{
    display: flex;
    position: relative;
    margin: 0 5px;
    background-color: #f1f1f1; 
    padding:1px 5px;
    align-items: center;
    color:#081D16;
    height: 23px;
    width: 150px;
    font-size:14px;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 500;
}

div.OptionsContainer
{
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: yellow;
    z-index: 9999;
}

div.OptionContainer
{
    color:#081D16;
    height: 23px;
    width: 150px;
    font-size:14px;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 500;
}