*{
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body, html, #root{
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #A1ADC4;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 18px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

