button.AppButtonContainer{
    height: 30px;
    background-color: #5BCFAA;
    border: 2px solid #fff;
    border-radius: 10px;
    padding: 1.5px 10px;
    margin: 1px 5px;
    font-size:19px;
    font-family: "Roboto Condensed", sans-serif;
    color:#fff;
}

button.AppButtonContainer:hover{
    cursor:pointer;
}

button.AppButtonContainer:focus
{
    outline: none;
}

button.AppButtonContainer:active
{
    transform: scale(0.95);
    box-shadow: -2px 3px 15px -5px rgba(0,0,0,0.3);
}